.searchfield{
    width: 100%;
    height: 40px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 16px;
}

.topic-select{
    max-width: 100%;
    height: 40px;
    font-size: 16px;
}

option{
    text-overflow: ellipsis;
}

.judhement-btn{
    font-size: 16px;
    line-height: 22px;
    border: 1px solid #909090;
    background-color: #d4d1d1;
    width: 180px;
    vertical-align: middle;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
    cursor: pointer;
}


.number-results{
    margin-left: 0px;
    border-bottom: 1px solid white;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    text-transform: uppercase;
    line-height: 30px;
    padding-left: 5px;

}