<h1>
  Evaluierung 
</h1>

<select class="topic-select" (change)="search();" *ngIf="topics.length" [(ngModel)]="selectedTopic" >
  <option  *ngFor="let topic of topics"  [value]="topic.query">{{topic.query}}</option>
</select>

<div style="margin-top:20px">
  <!--<input type="text" (keyup)="search($event)" placeholder="Enter a Search Term..." class=" searchfield">-->

  <div  class="number-results">
    {{tweetSources.length}} Results found
  </div>

  <div *ngFor="let tweet of tweetSources" >
    <eval-details [tweet]='tweet' ></eval-details>
  </div>


  <div *ngIf="tweetSources?.length < 1" style="margin-top:20px">
    <p>Not found!</p>
  </div>

  <div class="judhement-btn" *ngIf="selectedTopic" (click)=downloadFile()>SAVE JUDGEMENT</div>
</div>