<a [href]="['/tweet/'+tweet.id_str]" target="_blank" class="tweet-link">
  <div class="tweet-entry">

    <div>
      <div *ngIf="tweet.highlight" [innerHTML]="tweet.highlight"></div>
      <div *ngIf="!tweet.highlight" [innerHTML]="tweet.Tweet_Text"></div>

      <div *ngIf="tweet.Hashtags">
        <div *ngFor="let hashtag of tweet.Hashtags.split(';')"><a target="_blank" [href]="'https://twitter.com/hashtag/'+hashtag">#{{hashtag}}</a></div>

      </div>
    </div>
    <div class="date-line">
      {{tweet.Time | date:'dd.MM.yyyy - h:mm:ss a'}}
    </div>
  </div>
</a>

<div class="eval-line">
  Relevant: <div class="eval" [class.eval-y]="tweet.relevant==true" (click)="tweet.relevant=true">YES!</div>
  <div [class.eval-n]="tweet.relevant==false" (click)="tweet.relevant=false" class="eval">NO!</div>
</div>