.tweet-link{
    color: #333333;
}

.tweet-link:hover{
    text-decoration: none;
}

.tweet-entry{
    padding: 10px;
    padding-bottom: 25px;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    color: #002147;
}

.tweet-entry:hover{
    background-color:lightgray;
}

.eval-line{
    display: inline-flex;
    width: 100%;
    line-height: 22px;
    border-bottom: 2px solid lightgray;
    margin-bottom: 20px;
}

.eval, .eval-n, .eval-y{
    width: 50px;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.eval-y{
    background-color: yellowgreen;
}

.eval-n{
    background-color:sandybrown;
}

span.match{
    background-color: red;
}

.date-line{
    color: #bb133e;
}