<a [href]="['/tweet/'+tweet.id_str]" target="_blank" class="tweet-link">
  <div class="tweet-entry">
    <div>
      <b>
        <div *ngIf="tweet.highlight" [innerHTML]="tweet.highlight"></div>
        <div *ngIf="!tweet.highlight" [innerHTML]="tweet.Tweet_Text"></div>
      </b>
      <div *ngIf="tweet.Hashtags">
        <div *ngFor="let hashtag of tweet.Hashtags.split(';')"><a target="_blank" [href]="'https://twitter.com/hashtag/'+hashtag">#{{hashtag}}</a></div>

      </div>
    </div>
    <div class="date-line">
      {{tweet.Time | date:'dd.MM.yyyy - h:mm:ss a'}}
    </div>
  </div>
</a>