.tweet-link{
    color: #333333;
}

.tweet-link:hover{
    text-decoration: none;
    
}

.tweet-entry{
    padding: 10px;
    padding-bottom: 25px;
    border-bottom: 1px solid white;
    color: #002147;
}

.tweet-entry:hover{
    background-color:lightgray;

}

.quo{
    font-size: 40px;
    display: inline;
}

.right{
    float: right;
}

.tweet-entry{
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding-left: 15px;
}

.date-line{
    color: #bb133e;
}