<div class="quo">&bdquo;</div>
<div>{{tweet.Tweet_Text}}</div>
<div class="quo right">&rdquo;</div>
<br>
<br>

<div>
    <h4>Context Informationen</h4>
    <b>Is a retweet: </b> {{tweet.is_retweet}}
    <br>
    <b>How often Retweeted: </b> {{tweet.retweet_count}}
    <br>
    <b>Likes: </b> {{tweet.favorite_count}}
    <br>
    <b>Device: </b> {{tweet.source}}
    <br>
    <b>ID: </b> {{tweet.id_str}}
</div>