<div class="container" style="width: 800px">
	<div style="color: blue; margin-bottom: 20px">
		<h1 class="headline"><span class="usa-blue">Donald Tump</span> <span class="usa-red">Tweet Search</span></h1>
	<span>{{description}}</span>
	</div>

	
	<router-outlet></router-outlet>
</div>