/* You can add global styles to this file, and also import other style files */
span.match{
    background-color: white;
    border-radius: 15px;
}

body{
    background-color:#C5C6C7;
}

.headline{
    border-bottom: 5px solid white;
}