.searchfield{
    width: 100%;
    height: 40px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 16px;
}

.number-results{
    margin-left: 0px;
    border-bottom: 1px solid white;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    text-transform: uppercase;
    line-height: 30px;
    padding-left: 5px;

}