<div style="margin-top:20px">
  <input type="text" (keyup)="search($event)" placeholder="Enter a Search Term..." class=" searchfield">

  <div  class="number-results">
    {{tweetSources.length}} Results found
  </div>

  <div *ngFor="let tweet of tweetSources" >
    <customer-details [tweet]='tweet'></customer-details>
  </div>

  <div *ngIf="tweetSources?.length < 1" style="margin-top:20px">
    <p>Not found!</p>
  </div>
</div>